<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qifu.core.mapper.TbOrrsCommandMapper">

  <resultMap id="BaseResultMap" type="org.qifu.core.entity.TbOrrsCommand">
    <id column="OID" jdbcType="CHAR" property="oid" />
    <result column="CMD_ID" jdbcType="VARCHAR" property="cmdId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="USER_MESSAGE" jdbcType="VARCHAR" property="userMessage" />
    <result column="RESULT_VARIABLE" jdbcType="VARCHAR" property="resultVariable" />
    <result column="CUSERID" jdbcType="VARCHAR" property="cuserid" />
    <result column="CDATE" jdbcType="TIMESTAMP" property="cdate" />
    <result column="UUSERID" jdbcType="VARCHAR" property="uuserid" />
    <result column="UDATE" jdbcType="TIMESTAMP" property="udate" />
  </resultMap>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_orrs_command
    where OID = #{oid,jdbcType=CHAR}
  </select>  
  
  <sql id="baseConditions">
	<if test="cmdId != null and cmdId != ''.toString() ">
		AND CMD_ID = #{cmdId,jdbcType=VARCHAR}
	</if>	  
	<if test="name != null and name != ''.toString() ">
		AND NAME = #{name,jdbcType=VARCHAR}
	</if>
	<if test="nameLike != null and nameLike != ''.toString() ">
		AND NAME like #{nameLike,jdbcType=VARCHAR}
	</if>	
  </sql>
  
  <select id="selectListByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_orrs_command
    WHERE 1=1
    
    <include refid="baseConditions" />
    		
	<if test="orderBy != null and orderBy != ''.toString() and sortType != null and sortType != ''.toString() ">
		ORDER BY  ${orderBy} ${sortType}
	</if>	
  </select>    
  
  <select id="findPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
  	<include refid="org.qifu.core.mapper.DB1Config.sql1"/>
  	
    select *
    from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_orrs_command
    WHERE 1=1
	
	<include refid="baseConditions" />
		
	<include refid="org.qifu.core.mapper.DB1Config.sql2"/>
  </select>  
  
  <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Long">
    select count(*) from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_orrs_command
    WHERE 1=1
	
	<include refid="baseConditions" />
			
  </select>  
  
  <insert id="insert" parameterType="org.qifu.core.entity.TbOrrsCommand"> 
    insert into <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_orrs_command
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        OID,
      </if>
      <if test="cmdId != null">
        CMD_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="userMessage != null">
        USER_MESSAGE,
      </if>
      <if test="resultVariable != null">
        RESULT_VARIABLE,
      </if>
      <if test="cuserid != null">
        CUSERID,
      </if>
      <if test="cdate != null">
        CDATE,
      </if>
      <if test="uuserid != null">
        UUSERID,
      </if>
      <if test="udate != null">
        UDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=CHAR},
      </if>
      <if test="cmdId != null">
        #{cmdId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="userMessage != null">
        #{userMessage,jdbcType=VARCHAR},
      </if>
      <if test="resultVariable != null">
        #{resultVariable,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        #{udate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>  
  
  <update id="update" parameterType="org.qifu.core.entity.TbOrrsCommand">
    update <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_orrs_command
    <set>
      <if test="cmdId != null">
        CMD_ID = #{cmdId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="userMessage != null">
        USER_MESSAGE = #{userMessage,jdbcType=VARCHAR},
      </if>
      <if test="resultVariable != null">
        RESULT_VARIABLE = #{resultVariable,jdbcType=VARCHAR},
      </if>
      <if test="cuserid != null">
        CUSERID = #{cuserid,jdbcType=VARCHAR},
      </if>
      <if test="cdate != null">
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uuserid != null">
        UUSERID = #{uuserid,jdbcType=VARCHAR},
      </if>
      <if test="udate != null">
        UDATE = #{udate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where OID = #{oid,jdbcType=CHAR}
  </update>  
  
  <delete id="delete" parameterType="org.qifu.core.entity.TbOrrsCommand">
    delete from <include refid="org.qifu.core.mapper.DB1Config.schema"/>tb_orrs_command
    where OID = #{oid,jdbcType=CHAR}
  </delete>
  
</mapper>